/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    text-shadow: none;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}

li.profile-picture a.profile-image {
    padding: 5px;
}

li.profile-picture img {
    width: 40px;
}

@media (min-width: 768px) {
    /* Navbar positioning foo */
        .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    ul#albums {
        list-style-type: none;
        text-align: left;
        padding: 0px;
        margin-top: 60px;
    }
}

/* Custom Navbar end */
.logo {
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
}

.home {
    margin-top: -10px;
    padding-top: 20px;
}

.album-container{
    margin-top: 65px;
}
ul#albums {
    list-style-type: none;
    text-align: left;
    padding: 0px;
    margin-top: 10px;
}

ul#albums img{
    cursor: pointer;
}

ul#albums li {
    display: inline-block;
}

.album {
    width: 180px;
    margin-bottom: 10px;
}
div.img-div{
    height:200px;
    width:200px;
    overflow:hidden;
    border-radius:50%;
}

.img-div img{
    -webkit-transform:translate(-50%);
    margin-left:100px;
}

.download-btn {
    padding: 10px 10px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 0px 0px 8px 8px; 
    -moz-border-radius: 0px 0px 8px 8px; 
    -webkit-border-radius: 0px 0px 8px 8px; 
    /*border: 2px solid #949494;*/
}

.download-btn p{
    margin-bottom: 0px;
}

.flex-caption {
    width: 96%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
}
li.css a {
    border-radius: 0;
}

.modal-content {
    background-color: rgba(0,0,0,0.9);
    text-shadow: none !important;
}

.bootstrap-dialog .modal-content {
    background-color: rgba(255,255,255,0.8) !important;
    color: #000 !important;
    text-align: left !important;
}

.carousel.carousel-fit {
  position: relative;
  /* When sliding, use the maximum height we have */
  /* Center horizontally the content of the slides */
  /* To be centered, the images of the slides need to be inline */
  /* Maximize the captions in the wrapper */
}
.carousel.carousel-fit.slide {
  /* Hide the content outside the carousel when sliding */
  overflow: hidden;
}
.carousel.carousel-fit .carousel-inner > .next,
.carousel.carousel-fit .carousel-inner > .prev {
  bottom: 0;
}
.carousel.carousel-fit .carousel-inner > .item {
  text-align: center;
}
.carousel.carousel-fit .carousel-inner > .item > img {
  display: inline-block;
}
.carousel.carousel-fit .carousel-inner > .item > .carousel-caption {
  bottom: 0;
  left: 0;
  right: 0;
}

.modal.modal-fullscreen {
  /* Maximize the main wrappers on the screen */
  /* Make the parent wrapper of the modal box a full-width block */
  /* Remove borders and effects on the content */
  /**
     * /!\ By using this feature, you force the header and footer to be placed
     * in an absolute position. You must handle by yourself the margin of the
     * content.
     */
}
.modal.modal-fullscreen .modal-dialog,
.modal.modal-fullscreen .modal-content {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.modal.modal-fullscreen .modal-dialog {
  margin: 0;
  width: 100%;
}
.modal.modal-fullscreen .modal-content {
  border: none;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inherit;
  -moz-box-shadow: inherit;
  -o-box-shadow: inherit;
  box-shadow: inherit;
}
.modal.modal-fullscreen.force-fullscreen {
  /* Remove the padding inside the body */
}
.modal.modal-fullscreen.force-fullscreen .modal-body {
  padding: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header,
.modal.modal-fullscreen.force-fullscreen .modal-footer {
  left: 0;
  position: absolute;
  right: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header {
  top: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-footer {
  bottom: 0;
}

/* Liststrap CSS */

.listrap {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: default;
    text-align: left;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.listrap li {
    margin: 0;
    padding: 10px;
}

.listrap li.active, .listrap li:hover {
    background-color: #d9edf7;
}

.listrap strong {
    margin-left: 10px;
}

.listrap .listrap-toggle {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.listrap .listrap-toggle span {
    background-color: #428bca;
    opacity: 0.8;
    z-index: 100;
    width: 60px;
    height: 60px;
    display: none;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    color: #ffffff;
}

.listrap .listrap-toggle span:before {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}

.listrap li.active .listrap-toggle span {
    display: block;
}

.d-hide {
    display: none;
}

@media (max-width:720px) and (min-width:350px) {
    .d-hide {
        display: block;
    }
}

#download-mode-group {
    margin-top: 10px;
}

.download-album span, .upload-album span {
    background-color: #000;
    opacity: 0.8;
    z-index: 19;
    width: 45px;
    height: 45px;
    display: none;
    position: absolute;
    /*border-radius: 50%;*/
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    color: #ffffff;
}

.download-album span:before, .upload-album span:before  {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}

.download-album.active span, .upload-album.active span {
    display: block;
}

.link-alert, .upload-alert {
    margin-top: 10px;
    padding: 15px;
    display: none;
}

/****** loading css ******/

.loading { margin: auto; }

.loading span {
  line-height: 32px;
  margin-left: 12px;
  font-size: 16px;
  vertical-align: middle;
}

.loading img { vertical-align: middle; }

.loading_wrp {
  background-color: #FFF;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1020;
}

.loading_wrp .x16 span {
  line-height: 16px;
  font-size: 12px;
  margin-left: 6px;
}

.loading_wrp .x32 img {
  width: 32px;
  height: 32px;
}

.default_pointer {
  cursor: default !important;
}