<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <title>Facebook Photos</title>
        <!-- css -->
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.css"> -->
        <link href="/css/custom.css" rel="stylesheet">
        <!-- <link href="/css/flexslider.css" rel="stylesheet"> -->
        <link href='//fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    </head>
    <body>

        <div class="container home">
            <div class="logo">
                <img src="{{profile_picture}}">
            </div>
            <br>
        </div><!-- /container -->
        
        <!-- main content, will be injected via Twig -->
        {% block content %} {% endblock %}

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- jQuery -->
        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
        <!-- our JavaScript -->
        <!-- <script src="/js/animatedModal.js"></script> -->
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.flexslider.js"></script>
        <script src="/js/init.js"></script>
        <script src="/js/application.js"></script>
        
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

    </body>
</html>