{% extends "_home_base.twig" %}
{% block content %}
    <div id="grid" class="container">
        <ul id="albums" class="listrap">
            {% for album in albums %}
            <li id="{{album.id}}" class="album load-album">
                <div class="listrap-toggle">
                    <span></span>
                    <!-- <a href="#" id="{{album.id}}" class="load-album"> -->
                        <img class="img-circle_" alt="Album Cover" src="{{album.picture.url}}">
                        <strong class="d-hide">{{album.name}}</strong>
                    <!-- </a> -->
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="modal fade bs-example-modal-lg modal-vcenter_ modal-fullscreen force-fullscreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="openModal">
        <div class="modal-dialog modal-lg">
            
            <div class="modal-content">
                <div class="modal-body">
                    <!-- <div class="inner-circles-loader hide">
                        Loading…
                    </div> -->
                    <div id="carousel-example-generic" class="carousel slide carousel-fit">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner listrap" role="listbox">
                            
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
