{% extends "_home_base.twig" %}
{% block content %}
    <div id="grid" class="container">
        <div id="albums">
            {% for album in albums %}
            <div class="album">
                <a href="/album/{{album.id}}">
                    <img class="img-circle_" alt="Album Cover" src="{{album.picture.url}}">
                    <br>
                    <strong>{{album.name}}</strong><br>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
