{% extends "_base.twig" %}
{% block content %}
    <div class="inner cover">
        <h1 class="cover-heading">Welcome!</h1>
        <p class="lead">
            Simple application that lets you manage your facebook photos/albums in smarter way.
            Take a backup of your photos on your mobile/pc or upload them on your picasa account in 
            just few clicks.
        </p>
        <p class="lead">
            <a href="{{login_url}}" class="btn btn-lg btn-primary">Login with facebook!</a>
        </p>
    </div>
{% endblock %}
